<mat-toolbar>
  <a routerLink="/">
    <app-header-title></app-header-title>
  </a>
  <div class="spacer"></div>
  <a mat-button routerLink="/search" routerLinkActive="mat-accent">Search Courses</a>
  <div class="spacer"></div>
  <a mat-button routerLink="/public-schedules" routerLinkActive="mat-accent">Public Schedules</a>
  <div class="spacer"></div>

  <div *ngIf="isAuth">
    <a mat-button routerLink="/my-schedules" routerLinkActive="mat-accent">My Schedules</a>
  </div>

  <div class="spacer"></div>
  <div class="spacer"></div>

  <div *ngIf="!isAuth">
    <a mat-button routerLink="/sign-in-sign-up" routerLinkActive="mat-accent">Sign-In/Sign-Up</a>
  </div>

  <div *ngIf="isAuth">
    <a mat-button routerLink="/change-password" routerLinkActive="mat-accent">Change Password</a>
  </div>

  <div *ngIf="isAuth">
    <button mat-raised-button (click)="onLogout()">Logout</button>
  </div>

  <app-header-image></app-header-image>
</mat-toolbar>
