.pageHeader{
  background-color: #f1f1f1;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  font-weight: 600;
}

.spacer{
  flex: 1;
}
