<mat-accordion multi="true" *ngIf="userSchedules.length > 0">
  <mat-expansion-panel *ngFor="let schedule of userSchedules">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ schedule.title }}, ({{ schedule.courseList.length }} courses)
      </mat-panel-title>
      <mat-panel-description>
        <p *ngIf="schedule.description != '' || schedule.description != undefined">
          {{ schedule.description }}
        </p>
        <p *ngIf="schedule.description == '' || schedule.description == undefined">
          No schedule description available
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-timetable [creatorID]="userID" [scheduleID]="schedule._id" [courseList]="schedule.courseList" [courseMongoIdList]="courseMongoIdList" [subjectList]="subjectList" [catalog_nbrList]="catalog_nbrList"></app-timetable>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="userSchedules.length <= 0">You dont have any schedules!</p>
