<div id="body_component">
  <div id="about_component">
    <app-about-component></app-about-component>
  </div>
  <div id="signin_component">
    <app-sign-in-component></app-sign-in-component>
  </div>
  <div id="search_courses_component">
    <app-search-courses-component></app-search-courses-component>
  </div>
  <br>
  <div id="user_schedules">
    <app-user-schedules></app-user-schedules>
  </div>
  <br>
  <div id="public_schedules">
    <app-public-schedules></app-public-schedules>
  </div>
</div>
