<mat-card *ngIf="!isLoading">
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="Sign In"  >
      <app-email-container (enterEmail)="updateEmail($event)"></app-email-container>
      <app-password-container (enterPassword)="updatePassword($event)"></app-password-container>
      <button mat-raised-button color="primary" (click)="onSignIn()">Submit</button>
    </mat-tab>
    <mat-spinner  *ngIf="isLoading"></mat-spinner>
    <mat-tab label="Sign Up">
      <app-email-container (enterEmail)="updateEmail($event)"></app-email-container>
      <app-password-container (enterPassword)="updatePassword($event)"></app-password-container>
      <app-name-container (enterfName)="updatefName($event)" (enterlName)="updatelName($event)"></app-name-container>
      <button mat-raised-button color="primary" (click)="onSignUp()">Submit</button>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-spinner class="load" *ngIf="isLoading"></mat-spinner>
