<div id="about_section">
  <div id="about">
    The Draft My Schedule tool will help Western undergraduate students to build their
    individual conflict-free class schedule. You are not required to finish your entire
    schedule in one sitting. You can come back to work on your schedule as many times
    as you like. You will be provided with the ability to save multiple schedules.
  </div>
  <mat-card>
    <div *ngFor="let document of copyrightEnforements">
      <h1>{{document.title}}</h1>
      <p>{{document.description}}</p>
    </div>
  </mat-card>

</div>
