<div id="about_section">
  <div id="about">
    The Draft My Schedule tool will help Western undergraduate students to build their
    individual conflict-free class schedule. You are not required to finish your entire
    schedule in one sitting. You can come back to work on your schedule as many times
    as you like. You will be provided with the ability to save multiple schedules.
  </div>
  <div id="about_list">
    <h3>Please Note:</h3>
    <ul>
      <li>
        If a lecture has a lab or tutorial associated with it, you must ensure that you
        add those separately to your schedule.
      </li>
      <br>
      <li>
        Classes added to your worksheet are not checked for prerequisites, antirequisites,
        corequisites, and constraints. When making your course selections, please ensure
        you meet all course prerequisites, antirequisites, and corequisites.
      </li>
      <br>
      <li>
        Your Draft My Schedule worksheet is a point in time snapshot; the availability of
        classes that you save to your worksheet may change.
      </li>
      <br>
      <li>
        Distance Studies courses and other courses with no assigned times will not show
        in your worksheet grid. They will show in the listing of courses that you have saved.
      </li>
      <br>
      <li>
        The classes you add to your worksheet and the timetables you create will be visible
        to Western faculty and staff for counselling and planning purposes.
      </li>
    </ul>
  </div>
</div>
