<mat-card>
  <mat-card-title>
    Change Password:
  </mat-card-title>
  <mat-card-content>
    <div class="password-container">
      <mat-form-field>
        <mat-label>Old Password:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="oldPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="password-container">
      <mat-form-field>
        <mat-label>New Password:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="newPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="changePassword()">Submit!</button>
  </mat-card-content>
</mat-card>
